terjmat-flow.json
[{"id":"88af6838.772c88","type":"tab","label":"Terjmat Flow","disabled":false,"info":""},{"id":"648c7dff.764cd4","type":"watson-speech-to-text","z":"88af6838.772c88","name":"Arabic","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"ar-AR","langhidden":"ar-AR","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"7Dg1eE1fA4Ju","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":328,"y":181,"wires":[["5dda482c.c3cf98"]]},{"id":"b21feb4b.194fd8","type":"function","z":"88af6838.772c88","name":"Prepare text","func":"var chatID = msg.chatId.toString();\nvar lang = global.get(chatID) || 0;\n\nmsg.payload = msg.transcription;\n\n  \nif (lang === 0){\n    \nif (count === 0 && msg.payload === 'مرحبا' ||msg.payload === \"يا ترجمات \" || msg.payload === \"مرحبا \" ||msg.payload === \"ترجمات \"){\n\n    global.set(chatID,1);\n    msg.payloadtrans = \"Done1\";\n    return [msg,null,null,null,null,null];\n    \n}\nelse if ( msg.payload === \"Hey Watson \"|| msg.payload === \"Hello \"|| msg.payload === \"hello \"|| msg.payload === \"hello\"){\n\n    global.set(chatID,2);\n    msg.payloadtrans = \"Done2\";\n\n    return [null,msg,null,null,null,null];\n}\nelse if (count === 0 && msg.payload === 'Hola'|| msg.payload === 'Hola '||msg.payload === 'hola'){\n    global.set(chatID,3);\n    msg.payloadtrans = \"Done3\";\n\n    return [null,null,msg,null,null,null];\n}\nelse if (count === 0 && msg.payload === 'Bonjour' ||msg.payload === \"bon jour\" || msg.payload ===\"bonjour \" ){\n    global.set(chatID,4);\n    msg.payloadtrans = \"Done4\";\n\n    return [null,null,null,msg,null,null];\n    \n}\nelse if (count === 0 && msg.payload == \"こんにちは\" || msg.payload == \"ありがとう\"){\n    global.set(chatID,5);\n    msg.payloadtrans = \"Done5\";\n    return [null,null,null,null,msg,null];\n}else{\n    \n    var countError = global.get('countError',chatID) || 0;\n    var countType = global.get('countType',chatID) || 0;\n    countError++;\n    global.set('countError',countError,chatID);\n    \n    if (countError === 5||countType === 1){\n        \n        msg.payload = \"Sorry I couldn't understand you. could you please repeat again\";\n    return [null,null,null,null,null,msg];\n    }\n    \n}\n}else if (lang > 5){\n    \n    msg.payload = \"Sorry I couldn't understand you. Could you please repeat again\";\n\n    return [null,null,null,null,null,msg];\n    \n}else{\n    \n       \n    \n    if (lang === 1){\n return [msg,null,null,null,null,null]\n}else if (lang === 2){\n return [null,msg,null,null,null,null]\n}else if (lang === 3){\n return [null,null,msg,null,null,null]\n}else if (lang === 4){\n return [null,null,null,msg,null,null]\n}else if (lang === 5){\n return [null,null,null,null,msg,null]\n}\n}\n    \n\n\n","outputs":6,"noerr":0,"x":592,"y":205,"wires":[["2005d273.26a53e"],["79b5da95.83a014"],["5606192e.de2068"],["9ffc2499.143308"],["84b9b88.0c85848"],["3a91dc33.b545a4","882dc05.5fc0a4"]]},{"id":"218d1ec6.18d8d2","type":"watson-speech-to-text","z":"88af6838.772c88","name":"English","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"7Dg1eE1fA4Ju","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":338,"y":221,"wires":[["5dda482c.c3cf98"]]},{"id":"ebc7a0f7.8a5c","type":"watson-speech-to-text","z":"88af6838.772c88","name":"Spanish","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"7Dg1eE1fA4Ju","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":338,"y":261,"wires":[["5dda482c.c3cf98"]]},{"id":"b8b14ddd.8a88d","type":"watson-speech-to-text","z":"88af6838.772c88","name":"French","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"fr-FR","langhidden":"fr-FR","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"7Dg1eE1fA4Ju","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":328,"y":301,"wires":[["5dda482c.c3cf98"]]},{"id":"399d4d29.f229f2","type":"watson-speech-to-text","z":"88af6838.772c88","name":"Japanese","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"7Dg1eE1fA4Ju","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":338,"y":341,"wires":[["5dda482c.c3cf98"]]},{"id":"3e3f0f87.85724","type":"function","z":"88af6838.772c88","name":"Prepare Voice","func":"\nvar chatID =  msg.chatId.toString()|| '000000000';\n\nvar lang = global.get(chatID) || 0;\n\nif (lang === 0){\n return [null,null,null,null,null,msg]\n}else if (lang === 1){\n return [msg,null,null,null,null,null]\n}else if (lang === 2){\n return [null,msg,null,null,null,null]\n}else if (lang === 3){\n return [null,null,msg,null,null,null]\n}else if (lang === 4){\n return [null,null,null,msg,null,null]\n}else if (lang === 5){\n return [null,null,null,null,msg,null]\n}","outputs":6,"noerr":0,"x":121,"y":249,"wires":[["648c7dff.764cd4"],["218d1ec6.18d8d2"],["ebc7a0f7.8a5c"],["b8b14ddd.8a88d"],["399d4d29.f229f2"],["648c7dff.764cd4","218d1ec6.18d8d2","ebc7a0f7.8a5c","b8b14ddd.8a88d","399d4d29.f229f2"]]},{"id":"79b5da95.83a014","type":"watson-translator","z":"88af6838.772c88","name":"English to Arabic Translation","action":"translate","basemodel":"en-nl","domain":"general","srclang":"en","destlang":"ar","password":"J2jCwXsxFGCR","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"ar","basemodelhidden":"en-nl","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":845,"y":160,"wires":[["3a91dc33.b545a4"]]},{"id":"5606192e.de2068","type":"watson-translator","z":"88af6838.772c88","name":"Spanish Translation","action":"translate","basemodel":"en-nl","domain":"general","srclang":"es","destlang":"en","password":"J2jCwXsxFGCR","apikey":"","custom":"","domainhidden":"general","srclanghidden":"es","destlanghidden":"en","basemodelhidden":"en-nl","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":815,"y":195,"wires":[["ff082b58.f83b88","3a91dc33.b545a4"]]},{"id":"9ffc2499.143308","type":"watson-translator","z":"88af6838.772c88","name":"Frensh Translation","action":"translate","basemodel":"en-nl","domain":"general","srclang":"fr","destlang":"en","password":"J2jCwXsxFGCR","apikey":"","custom":"","domainhidden":"general","srclanghidden":"fr","destlanghidden":"en","basemodelhidden":"en-nl","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":815,"y":235,"wires":[["ff082b58.f83b88","3a91dc33.b545a4"]]},{"id":"84b9b88.0c85848","type":"watson-translator","z":"88af6838.772c88","name":"Japanese Translation","action":"translate","basemodel":"en-nl","domain":"general","srclang":"ja","destlang":"en","password":"J2jCwXsxFGCR","apikey":"","custom":"","domainhidden":"general","srclanghidden":"ja","destlanghidden":"en","basemodelhidden":"en-nl","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":825,"y":275,"wires":[["ff082b58.f83b88","3a91dc33.b545a4"]]},{"id":"2005d273.26a53e","type":"watson-translator","z":"88af6838.772c88","name":"Arabic Translation","action":"translate","basemodel":"en-nl","domain":"general","srclang":"ar","destlang":"en","password":"J2jCwXsxFGCR","apikey":"","custom":"","domainhidden":"general","srclanghidden":"ar","destlanghidden":"en","basemodelhidden":"en-nl","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":815,"y":126,"wires":[["ff082b58.f83b88","3a91dc33.b545a4"]]},{"id":"ff082b58.f83b88","type":"watson-text-to-speech","z":"88af6838.772c88","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaVoice","voicehidden":"en-US_LisaVoice","format":"audio/wav","password":"afCxbvUmYYfF","apikey":"","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1087,"y":196,"wires":[["e1e0dfcd.13b49"]]},{"id":"5dda482c.c3cf98","type":"link out","z":"88af6838.772c88","name":"voice Input","links":["ee4bebca.2c6038"],"x":456,"y":242,"wires":[]},{"id":"ee4bebca.2c6038","type":"link in","z":"88af6838.772c88","name":"Text_to_Translate","links":["5dda482c.c3cf98","41b16c10.274174","a3bafb66.abf318","b68bd01e.f67bb","22e8db7e.59c7a4","dd601983.ec6fc8","852a1864.0a7308"],"x":470,"y":194,"wires":[["b21feb4b.194fd8","5dafff5.626a5"]]},{"id":"c758f555.9a1c58","type":"link out","z":"88af6838.772c88","name":"Translated","links":["1a2e4736.e78529","a0efee6e.f7b07","da521685.84d1d8"],"x":1126,"y":276,"wires":[]},{"id":"e1e0dfcd.13b49","type":"link out","z":"88af6838.772c88","name":"voiceSend","links":["b9adf3.40bc821","d8097af6.e2e478"],"x":1117,"y":145,"wires":[]},{"id":"3a91dc33.b545a4","type":"function","z":"88af6838.772c88","name":"Check Message ID","func":"if (!isNaN(msg.chatId)){\n    return msg;\n}else{\n    var chatID = global.get('chatID',msg.payload.chatId.toString()) || 520109971;\n    msg.chatId = chatID;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1096,"y":235,"wires":[["c758f555.9a1c58"]]},{"id":"5dafff5.626a5","type":"debug","z":"88af6838.772c88","name":"","active":false,"console":false,"complete":"transcription","x":609,"y":118,"wires":[]},{"id":"57b8da0f.e6b444","type":"http request","z":"88af6838.772c88","name":"Fetch the Audio","method":"GET","ret":"bin","url":"","tls":"","x":121,"y":172,"wires":[["3e3f0f87.85724"]]},{"id":"cec71c19.f6d0a","type":"function","z":"88af6838.772c88","name":"Extract file_path","func":"audiourl = encodeURI(msg.payload.weblink);\nmsg.url=audiourl;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":187,"y":122,"wires":[["57b8da0f.e6b444"]]},{"id":"7530a2cf.4bb00c","type":"link in","z":"88af6838.772c88","name":"","links":["edeac4c2.dca6e8","35cc6fb1.e2364"],"x":56,"y":122,"wires":[["cec71c19.f6d0a"]]},{"id":"b56ea783.ba4f48","type":"telegram receiver","z":"88af6838.772c88","name":"","bot":"774323c2.6da7cc","saveDataDir":"","x":116,"y":540,"wires":[["a85d87f6.aa0b78"],[]]},{"id":"cb408bff.e64638","type":"telegram sender","z":"88af6838.772c88","name":"","bot":"774323c2.6da7cc","x":1011,"y":513,"wires":[[]]},{"id":"a85d87f6.aa0b78","type":"function","z":"88af6838.772c88","name":"Check Message","func":"\nmsg.chatId= msg.payload.chatId;\nif (msg.payload.type === \"voice\"){\n        return [null, msg,null];\n}else{\n\nmsg.payload = msg.payload.content;\nmsg.transcription  = msg.payload;\n\nif (msg.payload === \"RestLang\"|| msg.payload === \"/start\" ){\n    global.set(msg.chatId,0);\n    msg.payloadtran= \"test1\";\n    msg.payload = \"Welcome to Terjmat!! \\nTerjmat is a translation app used IBM services to make the translation smart and easy. \\nIn this version you can use translation in the following: \\n- Arabic to English\\n- English to Arabic\\n- Spanish to English\\n- French to English\\n- Japanese to English\\nand we will support more language in the future.\\nTo start the translation try to say \\nHello, مرحبا, Hola, Bonjour, こんにちは \\nby your voice to set the default language. \\nor type anything in the supported language and the app will identify the language then translate it. \";\n    return [null,null, msg];\n}else{\n    \n    \nreturn [msg,null,null];\n}\n}","outputs":3,"noerr":0,"x":328,"y":544,"wires":[["94277678.fdb2c8"],["35cc6fb1.e2364"],["86076235.e9e9"]]},{"id":"8e1a6da0.7787c","type":"function","z":"88af6838.772c88","name":"Prepare Mesaage","func":"msg.payload = {\n    chatId : msg.chatId,\n    type : \"message\",\n    content : msg.payload\n    \n};\nreturn msg;","outputs":1,"noerr":0,"x":815,"y":530,"wires":[["cb408bff.e64638"]]},{"id":"852a1864.0a7308","type":"link out","z":"88af6838.772c88","name":"Telegram_Receiver","links":["ee4bebca.2c6038"],"x":524,"y":487,"wires":[]},{"id":"da521685.84d1d8","type":"link in","z":"88af6838.772c88","name":"Telegram_Sender","links":["c758f555.9a1c58","86076235.e9e9"],"x":683,"y":542,"wires":[["8e1a6da0.7787c"]]},{"id":"d8097af6.e2e478","type":"link in","z":"88af6838.772c88","name":"","links":["e1e0dfcd.13b49"],"x":680,"y":490,"wires":[["fc2ade02.23811"]]},{"id":"fc2ade02.23811","type":"function","z":"88af6838.772c88","name":"Prepare V Mesaage","func":"msg.payload = {\n    chatId : msg.chatId,\n    type : \"voice\",\n    content : msg.payload\n    \n};\nreturn msg;","outputs":1,"noerr":0,"x":815,"y":495,"wires":[["cb408bff.e64638"]]},{"id":"35cc6fb1.e2364","type":"link out","z":"88af6838.772c88","name":"Telegram_Voice_Receiver","links":["1a1931c5.ec13de","9f94d137.f45a7","9f58b470.8fad68","7530a2cf.4bb00c"],"x":524,"y":525,"wires":[]},{"id":"94277678.fdb2c8","type":"watson-language-translator-identify","z":"88af6838.772c88","name":"","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":126,"y":489,"wires":[["c4a96061.98aba"]]},{"id":"86076235.e9e9","type":"link out","z":"88af6838.772c88","name":"","links":["da521685.84d1d8"],"x":524,"y":565,"wires":[]},{"id":"c4a96061.98aba","type":"function","z":"88af6838.772c88","name":"Set Language","func":"var chatID = msg.chatId.toString();\n\nmsg.transcription  = msg.payload;\n\n if (msg.lang.language === \"ar\"){\n    global.set(chatID,1);\n\n return msg;\n}else if (msg.lang.language === \"en\"){\n    \n    global.set(chatID,2);\n\n return msg;\n}else if (msg.lang.language === \"es\"){\n    \n    global.set(chatID,3);\n\n return msg;\n}else if (msg.lang.language === \"fr\"){\n    \n    global.set(chatID,4);\n\n return msg;\n}else if (msg.lang.language === \"ja\"){\n    \n    global.set(chatID,5);\n\n return msg;\n}","outputs":1,"noerr":0,"x":328,"y":487,"wires":[["852a1864.0a7308"]]},{"id":"882dc05.5fc0a4","type":"debug","z":"88af6838.772c88","name":"","active":false,"console":false,"complete":"false","x":590,"y":282,"wires":[]},{"id":"a93e0484.560168","type":"comment","z":"88af6838.772c88","name":"Receive text or voice message from Telegram","info":"","x":205.5,"y":434,"wires":[]},{"id":"a5600fa6.b0cbb","type":"comment","z":"88af6838.772c88","name":"Send text or voice message to Telegram","info":"","x":823,"y":441,"wires":[]},{"id":"9c98dadb.c03fe8","type":"comment","z":"88af6838.772c88","name":"Check the voice and convert it to text","info":"","x":191,"y":59,"wires":[]},{"id":"493ebdf8.676014","type":"comment","z":"88af6838.772c88","name":"Translate the text and convert it to voice","info":"","x":677,"y":61,"wires":[]},{"id":"774323c2.6da7cc","type":"telegram bot","z":"","botname":"Terjmat","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"}]
